In [1]:
import pandas as pd
import numpy as np
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

In [2]:
stocks = pd.read_csv('dataset/historical_stocks.csv')
#prices = pd.read_csv('dataset/historical_stock_prices.csv')
print(stocks.shape)
#print(prices.shape)

(6460, 5)

In [3]:
stocks

,ticker,exchange,name,sector,industry
0,PIH,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
1,PIHPP,NASDAQ,"1347 PROPERTY INSURANCE HOLDINGS, INC.",FINANCE,PROPERTY-CASUALTY INSURERS
2,TURN,NASDAQ,180 DEGREE CAPITAL CORP.,FINANCE,FINANCE/INVESTORS SERVICES
3,FLWS,NASDAQ,"1-800 FLOWERS.COM, INC.",CONSUMER SERVICES,OTHER SPECIALTY STORES
4,FCCY,NASDAQ,1ST CONSTITUTION BANCORP (NJ),FINANCE,SAVINGS INSTITUTIONS
...,...,...,...,...,...
6455,ZOES,NYSE,"ZOE&#39;S KITCHEN, INC.",CONSUMER SERVICES,RESTAURANTS
6456,ZTS,NYSE,ZOETIS INC.,HEALTH CARE,MAJOR PHARMACEUTICALS
6457,ZTO,NYSE,ZTO EXPRESS (CAYMAN) INC.,TRANSPORTATION,TRUCKING FREIGHT/COURIER SERVICES
6458,ZUO,NYSE,"ZUORA, INC.",TECHNOLOGY,COMPUTER SOFTWARE: PREPACKAGED SOFTWARE
6459,ZYME,NYSE,ZYMEWORKS INC.,HEALTH CARE,MAJOR PHARMACEUTICALS

In [4]:
stocks[stocks.isna().any(axis=1)]

,ticker,exchange,name,sector,industry
19,ABP,NASDAQ,ABPRO CORPORATION,NaN,NaN
42,SQZZ,NASDAQ,ACTIVE ALTS CONTRARIAN ETF,NaN,NaN
62,ACT,NASDAQ,ADVISORSHARES VICE ETF,NaN,NaN
100,ABDC,NASDAQ,ALCENTRA CAPITAL CORP.,NaN,NaN
124,SMCP,NASDAQ,ALPHAMARK ACTIVELY MANAGED SMALL CAP ETF,NaN,NaN
...,...,...,...,...,...
6393,WIA,NYSE,WESTERN ASSET/CLAYMORE U.S. TREASURY INFLATION...,NaN,NaN
6431,XFLT,NYSE,XAI OCTAGON FLOATING RATE & ALTERNATIVE INCOME...,NaN,NaN
6451,ZB^A,NYSE,ZIONS BANCORPORATION,NaN,NaN
6452,ZB^G,NYSE,ZIONS BANCORPORATION,NaN,NaN
6453,ZB^H,NYSE,ZIONS BANCORPORATION,NaN,NaN

In [5]:
#prices[prices.isna().any(axis=1)]

In [6]:
print("Unique values for stocks")
for column in stocks:
    print(column, "unique values: ",stocks[column].nunique())
#print("\nUnique values for prices")
#for column in prices:
#    print(column, "unique values: ",prices[column].nunique())

Unique values for stocks
ticker unique values:  6460
exchange unique values:  2
name unique values:  5462
sector unique values:  13
industry unique values:  136

In [7]:
sector = stocks.groupby(['name'])['sector'].nunique()
df = pd.DataFrame(sector)
count_0 = 0
count_1 = 0
count_2 = 0
for row in df.itertuples():
    if row.sector == 0:
        count_0 += 1
    if row.sector == 1:
        count_1 += 1
    if row.sector == 2:
        count_2 += 1
        print(row)
print(count_0, count_1, count_2)

Pandas(Index='ENERGIZER HOLDINGS, INC.', sector=2)
Pandas(Index='NEW YORK MORTGAGE TRUST, INC.', sector=2)
911 4549 2

In [8]:
industry = stocks.groupby(['name'])['industry'].nunique()
df = pd.DataFrame(industry)
count_0 = 0
count_1 = 0
count_2 = 0
for row in df.itertuples():
    if row.industry == 0:
        count_0 += 1
    if row.industry == 1:
        count_1 += 1
    if row.industry == 2:
        count_2 += 1
        print (row)     
print(count_0, count_1, count_2)

Pandas(Index='ENERGIZER HOLDINGS, INC.', industry=2)
Pandas(Index='NAVIENT CORPORATION', industry=2)
Pandas(Index='NEW YORK MORTGAGE TRUST, INC.', industry=2)
Pandas(Index='TEGNA INC.', industry=2)
911 4547 4

In [9]:
stocks = stocks.dropna()
stocks.shape

(5020, 5)

In [12]:
stocks.to_csv('dataset/stocks.csv', index=False)